body {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.main_menu {
    height: 50px;
    font-size: 12px;
}

.nav-wrapper {
    height: 50px;
    font-size: 12px;
    z-index: 1500;
}

nav ul a{
    height: 50px;
}
a {
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    nav ul a{
        height: 50px;
        color: white;
    }
    .auth .card {
        width: 100%;
    }

    .logo {
        font-size: 60px;
    }
}

.typeList {
    background-color: rgba(13,13,13,0.7);
    float: inherit;
    vertical-align:middle;
    margin: 5px;
    width: 30%;
}

.condition {

}

.textField {
    background-color: rgba(13,13,13,0.7);
    width: 30%;
    height: 70%;
    border: 1px solid #ffffff;
    margin: 5px;
    float: inherit;
}

#chartList {
    float: left;
}

#chartArea {
    cursor: pointer;
    margin: 1px;
}

.header-background {
    background: #000;
    color: #ffffff;
}

.table-background {
    background: rgba(0, 0, 0, 0.62);
    color: #ffffff;
}

.white-border {
    border: 1px solid #ffffff;
}

.orange-background {
    background: #007069;
}

.chartSelectButton {
    float: right;
    margin: 20px;
}
#chart {
    text-align: left;
}
path {
    stroke: #fff;
}

.tooltip {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.chartButton {
    padding-top: 50px;
}

.sunburstChartArea{
    width: 800px;
    height: 100%
}

.logListSelector {
    width: 140px;
    margin-left: 10px;
}

.fieldList {
    float: left;
    margin-bottom: 10px;
}

.leftArea {
    float: left;
    width : 48%;
    height: 100%;
    border: 1px solid #ffffff;
    margin: 10px;
    padding: 5px;
    vertical-align: middle;
}

.rightArea {
    float: left;
    width : 48%;
    height: 100%;
    border: 1px solid #ffffff;
    margin: 10px;
    padding: 5px;
    vertical-align: middle;
    display: table;
}

.filterArea {
    width : 95%;
    border: 1px solid #ffffff;
    height : 150px;
    margin: 5px 1px 5px 15px;
}

.sunburstChart {
    float : left;
    width : 500px;
}


.fieldArea {
    position: absolute;
    top: 750px;
    width: 50%;
    height: 200px;
}