body {
    width: 100%;
    height: 100%;
    /*background-color: rgba(0,0,0,0.8);*/
    background: linear-gradient(135deg, #3d3d3d 0%, #19263d 100%);
}

.main_menu {
    height: 50px;
    font-size: 12px;
}

.nav-wrapper {
    height: 50px;
    font-size: 12px;
    z-index: 1500;
    background: linear-gradient(135deg, #3d3d3d 0%, #19263d 100%);
}

nav ul a{
    height: 50px;
}
a {
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    nav ul a{
        height: 50px;
        color: white;
    }
    .auth .card {
        width: 100%;
    }

    .logo {
        font-size: 60px;
    }
}

.typeList {
    background-color: rgba(13,13,13,0.7);
    float: inherit;
    vertical-align:middle;
    margin: 5px;
    width: 30%;
}

.condition {

}

.textField {
    background-color: rgba(13,13,13,0.7);
    width: 30%;
    height: 70%;
    border: 1px solid #ffffff;
    margin: 5px;
    float: inherit;
}

#chartList {
    float: left;
}

#chartArea {
    cursor: pointer;
    margin: 1px;
}

.header-background {
    background: #000;
    color: #ffffff;
}

.table-background {
    background: rgba(0, 0, 0, 0.62);
    color: #ffffff;
}

.white-border {
    border: 1px solid #ffffff;
}

.orange-background {
    background: #007069;
}

.chartSelectButton {
    float: right;
    margin: 20px;
}
#chart {
    text-align: left;
}
path {
    stroke: #fff;
}

.tooltip {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.chartButton {
    padding-top: 50px;
}

.sunburstChartArea{
    width: 800px;
    height: 100%
}

.logListSelector {
    width: 140px;
    margin-left: 10px;
}

.fieldList {
    float: left;
    margin-bottom: 10px;
}

.leftZone{
    float: left;
    width: 48%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 300px;
}


.rightZone{
    float: right;
    width: 48%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    right: 10px;
    min-width: 300px;
}

.leftArea {
    float: left;
    display: inline-block;
    width: 100%;
    min-width: 300px;
    height: auto;
    min-height: 1000px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 50px;
    left: 10px;
    padding-left: 10px;
}

.rightArea {
    float: right;
    display: inline-block;
    width: 100%;
    min-width: 300px;
    height: auto;
    min-height: 1000px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 50px;
    right: 10px;
    padding-right: 10px;
}

.filterArea {
    width : 95%;
    height : 150px;
    margin: 5px 1px 5px 15px;
}

.sunburstChart {
    float : left;
    width : 500px;
}


.fieldArea {
    position: absolute;
    top: 750px;
    width: 50%;
    height: 200px;
}

.tr-table {
    background-color: transparent;
    color: #eaeaea;
    width:100%
}

.td-header {
    background-color: transparent;
    color: #eaeaea;
    width:100%
}
.breadcumb-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.left_title {
    float: left;
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background-color: rgba(0,0,0,0.7);
    position: relative;
    top: 0px;
    left: -10px;
    color: #555;
    font-weight: bold;
    font-size: 14px;
}

.right_title {
    float: right;
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background-color: rgba(0,0,0,0.7);
    position: relative;
    top: 0px;
    right: -10px;
    color: #555;
    font-weight: bold;
    font-size: 14px;
}