body {
    width: 1920px;
    height: 1280px;
    background-color: rgba(0,0,0,0.3);
    font-family: 'Roboto, sans-serif';
}

.main_menu {
    height: 50px;
    font-size: 12px;
}

.nav-wrapper {
    height: 50px;
    font-size: 12px;
}

nav ul {
    height:100%;
}
a {
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .auth .card {
        width: 100%;
    }

    .logo {
        font-size: 60px;
    }
}

.typeList {
    background-color: rgba(13,13,13,0.7);
    float: inherit;
    vertical-align:middle;
    margin: 5px;
    width: 30%;
}

.condition {

}

.textField {
    background-color: rgba(13,13,13,0.7);
    width: 30%;
    height: 70%;
    border: 1px solid #ffffff;
    margin: 5px;
    float: inherit;
}

#chartList {
}

#chartArea {
    cursor: pointer;
    margin: 1px;
}

.chartSelectButton {
    float: left;
}

.header-background {
    background: #000;
    color: #ffffff;
}

.table-background {
    background: rgba(0, 0, 0, 0.62);
    color: #ffffff;
}

.white-border {
    border: 1px solid #ffffff;
}

.orange-background {
    background: #007069;
}